*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Sans-serif";
    width: 100vw;
    height: 100vh;
    background-color: yellow;
    font-size: 22px;
    padding: 20px;
}


label{
    text-align: center;
    margin-bottom: 0.5rem;
}

input{
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 90vw;
    letter-spacing: 5px;
    border-radius: 25px;
    outline:none;
}
legend{
    text-align: center;
}
button{
    background-color: greenyellow;
    border-radius: 25px;
    width: 25vw;
    padding: 0.5rem;
    
}
textarea{
    font-size:  1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    text-align: center;
}

button:hover,
button:focus
{
     box-shadow: 2px 2px 10px #424242;
}

input:hover,
input:focus {
    box-shadow: 2px 2px 10px #424242;
}

