*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

 html,body{
    background-color: var(--body-bg);
    color: #fff; /*this will be the text color*/
 font-family: var(--font-family);
}

:root {
    --font-family:'karla',sans-serif;
    --body-bg:#1E1F25;
    --btn-bg:#000;
    --btn-color:#cbcbcb;
    --btn-color-hover:#fff;
    --grad-color1:#eeaf61;
    --grad-color2:#fb9062;
    --grad-color3:#ee5d6c;
    --grad-color4:#ce4993;
    --grad-color5:#6a0d83;
}


.container{
    display: flex;
    justify-content: center;
    
    /*align item center isn't going to do anything until we set a height for browser window*/
  align-items: center;
  height: 100vh; /*it means 100% of whatver the height of current window is*/
}

.display{
    background: linear-gradient(115deg,#eeaf61,#fb9062,#ee5d6c, #ce4993,#6a0d83);
padding: 2px;
}


button{
    border: none;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 1em 1.5em;    /*1 em on top and bottom , 1.5em in left and right*/
   font-family: inherit;
   letter-spacing: 0.1em;
   
}


.display:hover{
background: linear-gradient(230deg,#eeaf61,#fb9062,#ee5d6c, #ce4993,#6a0d83);
}



/* it means when the display hover is active target  the button class and do something*/
.display:hover .button {
color: var(--btn-color-hover);
padding: 1.1em 1.6em;
}

