
/* THIS CSS PROPERTY CSN BE USED IN EVERY PROJECT*/
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

 body{
    background-color: #002339;
    color: #fff; /*this will be the text color*/
 
}

.container{
    margin: 25%;
    width: 90%;
    max-width: 700px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color:#333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 25px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;

}

.container h1 span{
    color:aqua;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
width:28px;
margin-right: 10px;
}

.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: peachpuff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 26px;
    border-radius: 5%;
    cursor: pointer;
}

button:hover,
button:focus{
    box-shadow: 4px 4px 15px goldenrod;
}

